html {
    height: 100%;
}

body {
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem;
}

label {
    display: grid;
    place-items: center;
    cursor: pointer;
    background: #eee;
    color: black;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

footer {
    padding: 1rem 2rem;

    a {
        color: #000;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
