@keyframes bulb-svg {
    0% {
        fill: transparent;
        stroke: currentColor;
    }

    40% {
        transform: translateY(10%);
    }

    65% {
        fill: transparent;
        stroke: currentColor;
    }

    70% {
        fill: orange;
        stroke: chocolate;
        transform: translateY(-5%);
    }

    100% {
        transform: none;
    }
}

@keyframes bulb-glow {
    20% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    70% {
        opacity: .5;
    }

    100% {
        transform: scale(1.25, 1.75);
        opacity: 0;
    }
}

.bulb {
    svg {
        grid-row: 1;
        grid-column: 1;
        transform-origin: 50% 100%;
    }

    &::before {
        content: "";
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 100%;
        border-top: 5px dotted orange;
        border-radius: 100%;
        transform: scale(.75);
        opacity: 0;
    }

    &:has(input:checked) {
        svg {
            animation: bulb-svg 400ms ease-in-out;
            fill: orange;
            stroke: chocolate;
        }

        &::before {
            animation: bulb-glow 400ms 200ms ease-out;
        }
    }
}
