@keyframes heart-svg {
    0% {
        stroke: currentColor;
        fill: transparent;
    }

    40% {
        transform: scale(0);
        stroke: currentColor;
        fill: transparent;
    }

    41% {
        stroke: red;
        fill: red;
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes heart-circle {
    40% {
        border-width: 18px;
        opacity: 0.3;
    }

    80% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.5);
        border-width: 0;
    }
}

.heart {
    svg {
        grid-row: 1;
        grid-column: 1;
    }

    &::before {
        grid-row: 1;
        grid-column: 1;
        content: "";
        width: 100%;
        height: 100%;
        border: 18px solid red;
        border-radius: 100%;
        transform: scale(0);
        opacity: 0;
    }
}

.heart.isActive {
    svg {
        animation: heart-svg 400ms ease-in-out;
        fill: red;
        stroke: red;
    }

    &::before {
        animation: heart-circle 400ms 100ms ease-out;
    }
}

